<component name="libraryTable">
  <library name="spring-boot-starter-data-jpa-1.1.7.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-data-jpa/1.1.7.RELEASE/e0f6b9ab895a4cf1682c3b6be2ca9ba278590c91/spring-boot-starter-data-jpa-1.1.7.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-data-jpa/1.1.7.RELEASE/a92255936a7a343868c1b18130b0b1401d218b9f/spring-boot-starter-data-jpa-1.1.7.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>